NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

NEXT_PUBLIC_GOOGLE_ID=
NEXT_PUBLIC_GOOGLE_SECRET=

NEXT_PUBLIC_RAPIDAPI_HOST=
NEXT_PUBLIC_RAPIDAPI_KEY=