.root {
  padding: 150px 0 0 0;
  height: 100vh;
  box-sizing:border-box;
}

.menuWrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-left: 56px;
}

.backButton {
  border: 1px solid #000;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 150px;
  padding: 12px 24px;
  width: fit-content;
  position: absolute;
}

.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px
}

.menuItem {
  cursor: pointer;
  font-size: 24px;
}

.activeMenu {
  font-weight: bold;
  font-size: 26px;
}

.listWrapper {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-left: 350px;
  padding-right: 56px;
  padding-bottom: 56px;
}

.listItem {
  display: flex;
  flex-direction: column;
  width: 256px;
  cursor: pointer;
  border-radius: 5px;
}

.imageWrapper {
  background-color: #FFF;
  width: 256px;
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.title {
  font-size: 20px;
}

.price {
  font-size: 16px;
  margin-bottom: 8px;
}
